<!DOCTYPE html>
<head>
	<title>Sistema de estacionamiento</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<style type="text/css">
		body {
			margin: auto;
			text-align: center;
			font-family: Century Gothic;
/*			background: url(grass.jpg); 
*/		}
		.head {
			background-color: #1abc9c; /* Green */
      		color: #ffffff;
			padding:5%
		}
		.time {
			padding:5%;
		}

		.austral-icon{
			filter: opacity(.9);

		}
		.h1 {

		}
	</style>
</head>
<body>
	<script>
		setInterval(function() {
			axios.get('http://localhost:3000')
					.then(function (response) {
			console.log(response);
			document.getElementById('content').innerHTML = response.data.value;
		  })
		  .catch(function (error) {
			console.log(error);
		  });
				}, 2000);
	</script>
<div class="container">
	<div class="head">
		<h1>Bienvenido al ParkingAustral</h1>
		<div class="row justify-content-center">
			<img src="car-128.png" class="img-circle" alt="LOGO">
			<img class ="austral-icon" src="austral.png" class="img-circle" style="border-radius: 100%" alt="logo-austral">
		</div>
	</div>
	<div class="time">
		<h1>ESPACIO DISPONIBLE</h1>
		<!-- aca se pone 'X' (donde se figura el numero disponible) -->
		<h2 id='content' class="estacionamiento">25</h2>  
	</div>
	</div>
</body>